{% extends 'base.html' %}
<br>
{% load static %}
{% block content %}
<div class="container_list " id="container_list">
    <div class="list_tab">
        <a id="전체보기" class="srcd_tab_list">전체보기</a>
        <a id="고궁·문화유산" class="srcd_tab_list">고궁·문화유산</a>
        <a id="공원" class="srcd_tab_list">공원</a>
        <a id="관광특구" class="srcd_tab_list">관광특구</a>
        <a id="발달상권" class="srcd_tab_list">발달상권</a>
        <a id="인구밀집지역" class="srcd_tab_list">인구밀집지역</a>                        
    </div>
    <span class="float-left container_list_total">총 <span id="spotlist_cnt" class="black b">??</span>곳</span>
    <div class="float-right container_list_sort">
        <select name="sort" id="sort">
            <option value="true">혼잡도 높은 순</option>
            <option value="false">가나다 순</option>
        </select>
    </div>

    <div class="select_list srcd_list" id='srcd_list'>
        {% for place in page_obj %}
        <a href="/population" style= "text-decoration: none; color: black;">
            <img src="../../static/images/s.jpg">
            <div>
                <p>{{place.place_class}}</p>
                <h4>{{place.name}}</h4>
                <h5 class="srcd_congest" style="background: #DD1F3D">{{place.population}}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <div class="pagination" id="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock %}