{% extends 'base.html' %}
{% load static %}
<br>
{% block content %}
<div class="container_list " id="container_list">
    <div class="list_tab">
        {% for category in categorys %}
        <a id={{category.name}} class="srcd_tab_list{{category.focus}}" href="/?q={{category.name}}">{{category.name}}</a>
        {% endfor %}                   
    </div>
    <div>
        <span class="float-left container_list_total">총 <span id="spotlist_cnt" class="black b">{{total_obj_cnt}}</span>곳</span>
        <div class="float-right container_list_sort" style="float:right;">
            <select name="sort" id="sort" style="width:170px;">
                <option value="true">혼잡도 높은 순</option>
                <option value="false">가나다 순</option>
            </select>
        </div>
    </div>
    <div class="select_list srcd_list" id='srcd_list'>
        {% for area in page_obj %}
        <a href="/population/?area={{area.area_cd}}" style= "text-decoration: none; color: black;">
            <img src="{{area.image}}">
            <div>
                <p>{{area.area_category}}</p>
                <h4>{{area.area_nm}}</h4>
                <h5 class="srcd_congest" style="background: #DD1F3D;">{{area.area_congest_lvl}}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
    
    <div class="pagination" id="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1&q={{select_category}}">&laquo; 처음으로</a>
                &nbsp;
                <a href="?page={{ page_obj.previous_page_number }}&q={{select_category}}">이전</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{select_category}}">다음</a>
                &nbsp;
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{select_category}}">끝으로 &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>


{% endblock %}