{% extends '../base.html' %}
{% load static %}

{% block content %}
{{ congest_json|json_script:"congest" }}
{{ congest_fcst_json|json_script:"congest_fcst" }}
{{ congest_past_json|json_script:"congest_past" }}


{% include "../partialPages/nav_bar.html" %}

<div class="report_inner_wrap">
    <div class="report_cell">
        <p class="pop_date_right">※ {{area_info.timestamp | date:'Y-m-d H:i'}} 기준</p>
        <br>
        {% include "../partialPages/popul_graphic.html" with congest=area_info.area_congest_lvl %}
        <ul class="report_ul mt-2 rpt_pop_congest_txt2_m rpt_data">
            {% for msg in congest_msg %}
            <li>{{msg}}.</li>
            {% endfor %}
        </ul>
        <div class="flex mt-2 items-center pt-2 pl-2" style="display: flex; align-items: center;">
            <div class="ico_past">
                <img src="{% static 'images/ico_past.png'%}">
            </div>
            <ul class="report_ul">
                <li class="flex_report" style="display:flex;">
                    <div class="grow">1시간 전 대비 증감율</div>
                    <div class="rpt_data rpt_pop_updown1 color_up arr_up">2.9%</div>
                </li>
                <li class="flex_report" style="display:flex;">
                    <div class="grow">3시간 전 대비 증감율</div>
                    <div class="rpt_data rpt_pop_updown2 color_up arr_up">29.4%</div>
                </li>
                <li class="flex_report" style="display:flex; text-align:center;">
                    <div class="grow">최근 28일 동시간 평균 대비 증감율</div>
                    <div class="rpt_data rpt_pop_updown3 color_up arr_up">72.5%</div>
                </li>
            </ul>
        </div>
        <div class="report_sub_etc mt-2">
            ※ 혼잡도는 통신사의 실시간 인구 데이터를 분석하여 가공한 것으로, 실제 현장과는 차이가 있을 수 있음을 알려드립니다.
        </div>
    </div>
    <!-- 혼잡도 추이-->
    <div class="report_cell">
        <h3 class="border-bottom">실시간 인구 및 혼잡도 추이 전망  <span class="text_rt"> <span class="pop_date_right">※ {{area_info.timestamp | date:'Y-m-d H:i'}} 기준</span></span></h3>
        <br>
        <div class="graphbox mt-2" style="height: 400px; position: relative">
            <div id="congest_bar_chart"></div>
            <script src="{% static 'js/chart/congest_bar_chart.js'%}"></script>
        </div>
        <div class="predict_div" id="predict_div" style="display: none;">
            <h4 class="mt-2 pt-2">향후 12시간 전망</h4>
            <div class="flex items-center pt-2">
                <div class="ico_past"><img src="{% static 'images/ico_future.png'%}"></div>
                <ul class="report_ul ml-6 basis-4/5 rp_pop_next rpt_data">-</ul>
            </div>
        </div>
        <h4 class="mt-2 pt-2 past_div" id="past_div">지난 12시간 추이</h4>
        <div class="items-center" style="display: flex; align-items: center;">
            <div class="ico_past"><img src="{% static 'images/ico_past.png'%}"></div>
            <ul class="report_ul" style="margin: 25px; font-size: 11px;">
                <li><b class="color_bk">{{ ppltn_cal.max_past_congest.timestamp|date:"H시" }}</b>에 인구가 제일 많고<br>혼잡도도 가장 높아요.</li>
                <li>혼잡정도는 <b class="rpt_data" style="color:#DD1F3D">{{ppltn_cal.max_past_congest.area_congest_lvl}}</b>이예요.</li>
            </ul>
        </div>
    </div>
    <!-- 성별/연령별 -->
    <div class="report_cell">
        <h3 class="border-bottom">실시간 인구 구성 비율  <span class="text_rt"> <span class="pop_date_right">※ {{area_info.timestamp | date:'Y-m-d H:i'}} 기준</span></span></h3>
        <h4 class="mt-4">성별 비율</h4>                    
        <div class="graphbox pt-0 chart_gender_m" style="height: 250px">
            
            <div id="gender_ratio_pie_chart" list_data="{{congest.area.nm}}"></div>
            <script src="{% static 'js/chart/gender_ratio_pie_chart.js'%}"></script>

            <div class="chart_img m">
                <center><img src="{% static 'images/icon_male.png'%}"></center>
                <p>남성</p>
            </div>
        
        
            <div class="chart_img f">
                <center><img src="{% static 'images/icon_female.png'%}"></center>		
                <p>여성</p>
            </div>
            

            
            
        </div>
        <ul class="report_ul mt-2">
            <li class="rpt_data rpt_pop_gender">
                {% if ppltn_cal.gender in "남성" %}
                <b class="color_01">남성</b>이 여성보다 <b class="color_01">{{ppltn_cal.gender_val}}%</b> 많아요
                {% else %}               
                <b class="color_02">여성</b>이 남성보다 <b class="color_02">{{ppltn_cal.gender_val}}%</b> 많아요
                {% endif %}
            </li>
        </ul>
        <h4 class="mt-2 pt-3">연령대별 비율</h4>
        <div class="graphbox pt-0 chart_gender_m" style="height: 250px">
            <div id="age_ratio_pie_chart"></div>
            <script src="{% static 'js/chart/age_ratio_pie_chart.js'%}"></script>
                <div class="age_inline_1">
                    <div class="age_category">
                        <div class="rect rect1"> </div>
                        <div class="age_text">10대이하</div>
                    </div>

                    <div class="age_category">
                        <div class="rect rect2"></div>
                        <div class="age_text">20대</div>
                    </div>

                    <div class="age_category">
                        <div class="rect rect3"></div>
                        <div class="age_text">30대</div>
                    </div>
                </div>
                <div class="age_inline_2">
                    <div class="age_category">
                        <div class="rect rect4"></div>
                        <div class="age_text">40대</div>
                    </div>

                    <div class="age_category">
                        <div class="rect rect5"></div>
                        <div class="age_text">50대</div>
                    </div>
                    
                    <div class="age_category">
                        <div class="rect rect6"></div>
                        <div class="age_text">60대이상</div>
                    </div> 
                </div>
        </div>
        <ul class="report_ul mt-2 ">
            <li class="rpt_data rpt_pop_age">전체 연령대 중 <b class="color_01">{{ppltn_cal.age}}</b>가  <b class="color_01">{{ppltn_cal.age_val}}%</b>로 가장 많아요</li>
        </ul>
        <h4 class="mt-2 pt-3">상주·비상주 비율</h4>
        <!-- <div id="population_graph_genderAge" class="chart_genderAge"></div>  -->
        <div class="graphbox pt-0" style="height: 250px">

            <div id="recent_ratio_pie_chart"></div>
            <script src="{% static 'js/chart/recent_ratio_pie_chart.js'%}"></script>
                <div class="age_legend">
                <div class="flex">
                    <div class="basis-1/2">
                        <div class="chart_img m">
                            <center>
                                <div class="rect_sojn1"></div>
                                <p>상주</p>
                            </center>
                        </div>
                    </div>
                    <div class="basis-1/2">
                        <div class="chart_img f">
                            <center>
                                <div class="rect_sojn2"></div>	
                                <p>비상주</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="report_ul mt-2">
            <!-- <li class="rpt_data rpt_pop_genderAge"></li>   -->
            <li class="rpt_data rpt_pop_sojn">
                {% if ppltn_cal.resnt in '비상주' %}
                <b class="color_01">비상주</b> 인구가 상주 인구보다 <b class="color_01">{{ppltn_cal.resnt_val}}%</b> 더 많아요.
                {% else %}
                <b class="color_01">상주</b> 인구가 비상주 인구보다 <b class="color_01">{{ppltn_cal.resnt_val}}%</b> 더 많아요.
                {% endif %}
            </li>
        </ul>
        <div class="report_sub_etc mt-2">
            ※ 상주 인구는 '전월 가장 오래 체류했던 장소'에 존재하고 있는 인구입니다. (전월 일 4시간 이상, 최소 10일 이상 연속 체류한 장소 기준)
        </div>
    </div>
    <!-- //성별/연령별 -->                
</div>

{% endblock %}
