{% extends '../base.html' %}
{% load static %}

{% block content %}



{% include "../partialPages/nav_bar.html" %}

<div class="report_inner_wrap">
    <!-- 혼잡도 추이-->
    <div class="report_cell">

        <div class="card" style="height: 20%;">
            <div class="card_img" style="width:25%; float: left;"> 
                <img src="{% static 'images/s.jpg'%}" style="width: 100%; border-radius: 15px;">
            </div>
            <div class="card_title" style="width: 60%; float:left; margin:10px;">
                <span><a><b>유즈라멘 만리동점</b></a></span>
                <span> <small>일본식라면</small></span>
            </div>
            <div class="'card_score" style="width:60%; float:left; margin-left: 10px;"> 
                <span>4.2</span>
                <span>361건</span>
                <span> | </span>
                <span>리뷰 459</span>
            </div>
            <div class="card_address" style="width:60%; float:left; margin-left:10px;"> 
                <div>서울 중구 만리재로 217 경김회관</div>
                <div>(지번) 만리동1가 53-8</div>
            </div>
            <div class="card_work_time" style="width:60%; float:left; margin-left:10px;"> 
                <div>화~금 11:00 ~ 21:00 · 휴게시간 화~금 15:00 ~ 17:00</div>
            </div>
            <div class="card_info_etc" style="width:60%; float:left; margin-left:10px; overflow: hidden;"> 
                <span>070-4177-0365</span>
                <span><a>상세보기</a></span>
                <span><a>홈페이지</a></span>
            </div>

        </div>
        <!-- <h3 class="border-bottom">실시간 인구 및 혼잡도 추이 전망</h3>
         <p class="pop_date_right">※ 2023-08-11 17:30 기준</p> -->
    </div>
                  
</div>
{% endblock %}
