{% extends '../base.html' %}
{% load static %}

{% block content %}
{% include "../partialPages/nav_bar.html" %}

<div class="report_inner_wrap">
    {% for restaurant in restaurant_info %}
    <div class="report_cell">
        <div class="card" style="height: 20%;">
            <div class="card_img" style="width:25%; float: left;"> 
                <img src="{{ restaurant.image_url }}" style="width: 100%; border-radius: 15px;">
            </div>
            <div class="text_block" style="width:75%; align-items: center;">
                <div class="card_title" style="width: 60%; float:left; margin:10px;">
                    <span><a><b>{{ restaurant.restaurant_nm }}</b></a></span>
                    <span> <small>{{ restaurant.category_nm }}</small></span>
                </div>
            
                <div class="card_score" style="width:60%; float:left; margin-left: 10px;"> 
                    {% if restaurant.rating %}
                        <span>{{ restaurant.rating }}</span>
                    {% endif %}
                    {% if restaurant.review_count %}
                        <span>({{ restaurant.review_count }}건)</span>
                    {% endif %}
                    {% if restaurant.rating or restaurant.review_count%}
                        <span> | </span>
                    {% endif %}
                    <span>리뷰 {{ restaurant.blog_review_count }}</span>
                </div>
                <div class="card_address" style="width:60%; float:left; margin-left:10px;"> 
                    {% if restaurant.road_address_nm %}
                        <div>{{ restaurant.road_address_nm }}</div>
                    {% endif %}
                    <div>(지번) {{ restaurant.address_nm }}</div>
                </div>
                <div class="card_info_etc" style="width:60%; float:left; margin-left:10px; overflow: hidden;"> 
                    {% if restaurant.phone %}
                        <span>{{ restaurant.phone }}</span>
                    {% endif %}
                    <span><a href="{{ restaurant.place_url }}">상세보기</a></span>
                    {% if restaurant.homepage_url %}
                    <span><a href="{{ restaurant.homepage_url }}">홈페이지</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination" id="pagination">
        <span class="step-links">
            {% for page in restaurant_info.paginator.page_range %}
                <a href="/restaurant?page={{forloop.counter}}&area={{area_info.area_cd}}" style="color: #4C65A7;">
                    {% if forloop.counter == restaurant_info.number %}
                        &nbsp;&nbsp;<b>{{ forloop.counter }}</b>
                    {% else %}
                        &nbsp;&nbsp;{{ forloop.counter }}
                    {% endif %}
                </a>
            {% endfor %}
        </span>
    </div>
</div>
{% endblock %}
