{% extends '../base.html'%}
{% load static %}

{% block content%}
{% include "../partialPages/nav_bar.html" %}


<div class="report_inner_wrap">
    <!-- 실시간 날씨 현황 -->
    <div class="report_cell">
        <h3 class="border-bottom">실시간 날씨 현황 <span class="text_rt">※ <span class="weather_lastdate">
                    {{area_info.timestamp | date:'Y-m-d H:i'}}</span> 기준</span></h3>
        <!-- 기온 -->
        <div style="text-align:center;">
            <div class="temperature" style="display: flex; align-items: center; justify-content: center;">
                <img src="{% static 'images/icon_temperature.png'%}" class="icon_temperature">
                <b class="rpt_temp1 rpt_data color_01">{{ weather.temp }}
                    ℃</b> 체감 <span class="rpt_temp2 rpt_data">{{weather.sensible_temp}}℃</span>
            </div>
        </div>
        <!-- 습도 바람 -->
        <div class="moisture flex mt-3"
            style="display: flex; align-items: center; justify-content: center; margin-bottom:10px;">
            <div class="base1_2"
                style="display: flex; align-items: center; justify-content: center; width:50%;text-align:right; margin-right: 30px;">
                <img src="{% static 'images/icon_moisture.png'%}" class="icon_moisture"> 습도 <b
                    class="rpt_humidity rpt_data">{{weather.humidity}}%</b>
            </div>
            <div class="base1_2"
                style="display: flex; align-items: center; justify-content: center; width:50%;text-align:left; margin-left: 30px;">
                <img src="{% static 'images/icon_wind.png'%}" class="icon_wind"> 바람 <b
                    class="rpt_wind rpt_data">{{weather.wind_spd}}m/s</b>
            </div>
        </div>
        <!-- 최저최고 일출일몰 -->
        <div class="flex weather_box  items-center mt-2" style="display:flex;">
            <div class="base1_2">
                최저기온 <b class="color_bk rpt_tmp_low rpt_data">{{weather.min_temp}}℃</b>
            </div>
            <div class="base1_2">
                최고기온 <b class="color_bk rpt_tmp_high rpt_data">{{weather.max_temp}}℃</b>
            </div>
            <div class="base1_2">
                일출 <b class="rpt_sunrise rpt_data">{{weather.sunrise}}</b>
            </div>
            <div class="base1_2">
                일몰 <b class="rpt_sunset rpt_data">{{weather.sunset}}</b>
            </div>
        </div>
        <h4 class="border-bottom mt-2 pt-3 pb-2" id="weather_special_title">기상 특보</h4>
        <!-- 주의보 -->
        <div class="rpt_data_empty rpt_weather_special"></div>
        <!-- 강수량 / 자외선 -->
        <div class="flex weather_03 border-bottom">
            <div class="mr-3 vertical-center"><img src="/static/images/weather/ico_weather_rain.png"
                    class="ico_weather_rain"></div>
            <div class="mw-77 basis-1/4 border-right vertical-center">
                강수량<br>
                <b class="color_bk rpt_rain rpt_data">{{weather.precipitation}}</b>
            </div>
            <div class="pl-4 rpt_wAll_msgRain  rpt_data vertical-center">{{weather.pcp_msg}}</div>
        </div>
        <div class="flex weather_03">
            <div class=" mr-3 vertical-center"><img src="/static/images/weather/ico_weather_uv.png"
                    class="ico_weather_uv"></div>
            <div class="mw-77 pr-5 basis-2/4 border-right vertical-center">
                자외선지수<br>
                <b class="color_bk rpt_ray2 rpt_data"><span class="color_soso">{{weather.uv_index}}</span></b>
            </div>
            <ul class="pl-4 rpt_wAll_msgRay  rpt_data vertical-center">{{weather.uv_msg}}</ul>
        </div>
        <!-- 예보 테이블 -->
        <h4 class="mt-2">24시간 날씨 예보 </h4>
        <div class="wrap_table_wf">
            <table class="table_wehather_forecast table_wehather_forecast_l">
                <tbody>
                    <tr>
                        <th>시간</th>
                        {% for fcst in weather_fcst%}
                        <td>{{ fcst.fcst_dt|date:'H' }}시</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>날씨</th>
                        {% for fcst in weather_fcst %}
                        <td>
                            {% if fcst.sky_stts == "흐림" %}
                            <img src="/static/images/weather/ico_w_cloudy.png">
                            {% elif fcst.sky_stts == "맑음" %}
                            <img src="/static/images/weather/ico_w_sunny.png">
                            {% elif fcst.sky_stts == "구름많음" %}
                            <img src="/static/images/weather/ico_w_cloud_and_sun.png">
                            {# 여기에 추가적인 날씨 상태에 따른 이미지 지정 #}
                            {% elif fcst.sky_stts == "흐림" and fcst.precpt_type == "비" or fcst.precpt_type == "빗방울"%}
                            <img src="/static/images/weather/ico_w_rain.png">
                            {% else %}
                            <img src="/static/images/weather/ico_w_sunny.png">
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>기온</th>
                        {% for fcst in weather_fcst %}
                        <td>{{ fcst.temp }}℃</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>강수량(mm)</th>
                        {% for fcst in weather_fcst %}
                        <td>{{ fcst.precipitation }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>강수확률</th>
                        {% for fcst in weather_fcst %}
                        <td>{{ fcst.rain_chance }}%</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--  로딩중 -->
<div id="loading" class="display-none" style="display: none;">
    <h1 id="loading-msg">데이터를 수신하고 있습니다.조금만 기다려주세요.</h1>
</div>


{%endblock%}