option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: seoulInfoProject.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: seoulInfoProject.settings.deploy
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_migration:
      command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations --settings=seoulInfoProject.settings.deploy --noinput"
      leader_only: true
  02_migrate:
      command: "source /var/app/venv/*/bin/activate && python manage.py migrate --settings=seoulInfoProject.settings.deploy --noinput"
      leader_only: true
  03_collectstatic:
      command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --settings=seoulInfoProject.settings.deploy --noinput"
      leader_only: true

