
<div class="area" style="height:50px;  position:block; margin:2px;">
    <div style="text-align: center;">
        <div class="refresh_report">
            <span class="rpt_date">{{timestamp | date:'Y-m-d H:i'}} 기준</span> 
            <a class="refresh_btn" href="{{request.path}}?area={{area_info.area_cd}}">
                <span class="material-icons">refresh</span>
            </a>
        </div>
        <div >
            <span style="color: #4C65A7; font-size: 25px; font-weight:bold;"> 지금 {{area_nm}}{{jongseong}}</span>
        </div>
    </div>
</div>