{% load static %}
<html>
<head>
    <title> Seoul Live Info </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id='_body'>
    <div class="main_top">
        <div class="top_home" >
            <a href='/' style="margin:5px;">
                <span class="material-icons" style="color:white; font-size:40px; ">home</span>
            </a>
        </div>
        <a href='/' style="text-color:black;">
        <div class="top_center">
            <img src= "{% static 'images/free-icon-seoul-4480816.png'%}" style="width: 45px;">
            &nbsp;&nbsp;
            <b style="color: #1D5B79; font-size:20px;"> SEOUL LIVE INFO</b>
            
        </div>
        </a>
        <div class="top_right">
            
        </div>
    </div>
    {% if request.path != "/"  %}
        {% include "partialPages/top_area.html" with area_nm=area_info.area_nm timestamp=area_info.timestamp%}
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>