name: Airflow Dags Test

on:
  pull_request:
    paths:
      - 'airflow/Dags/**.py'
      - 'airflow/Test/**.py'
      - 'airflow/requirements.txt'
      - '!**.md'
    branches: [ "main", "develop"]

jobs:
  airflow-dags-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./airflow
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - name: 'Test Airflow DAGs'
      uses: micael-grilo/airflow-dags-test-action@v2.5.1
      with:
        requirements-file: requirements.txt
        dags-path: Dags
        dags-test-folder: Test
        var-file: variables.json